@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .grid-content {
    height: calc(100vw - 66vw);
    width: 33.33%;
    overflow: hidden;

    .img-content {
      width: 100.5%;
      height: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .img-content:hover {
      @include transform(scale(1.1));
    }
  }

  .grid-content:nth-child(1) > .img-content {
    background: url('../img/beauty-1.png') no-repeat center center/cover;
  }

  .grid-content:nth-child(2) > .img-content {
    background: url('../img/beauty-2.png') no-repeat center center/cover;
  }

  .grid-content:nth-child(3) > .img-content {
    background: url('../img/beauty-3.png') no-repeat center center/cover;
  }

  .grid-content:nth-child(4) > .img-content {
    background: url('../img/beauty-4.png') no-repeat center center/cover;
  }

  .grid-content:nth-child(5) > .img-content {
    background: url('../img/beauty-5.png') no-repeat center center/cover;
  }

  .grid-content:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .grid-container .grid-content {
    height: calc(100vw - 50vw);
    width: 50%;
  }
}