$color: #f79d5c;
$black-tint: rgba(0, 0, 0, 0.45);

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

#community {
  .community-content-flex {
    background: linear-gradient($black-tint, $black-tint),
      url('../img/showcase/showcase-6.png') no-repeat center center/cover;
    width: 100%;
    height: calc(100vw / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: 'Inria Serif', serif;
      font-weight: 300;
      font-size: 5.2rem;
      text-align: center;
      color: $color;
    }

    p {
      font-size: 3.4rem;
      color: $color;
    }
  }

  .community-content-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

    .container {
      overflow: hidden;
      width: calc(100vw / 5);
      height: calc(100vw / 5);
    }

    .container:nth-child(1) .grid-content {
      background: url('../img/community/1.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(1) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(2) .grid-content {
      background: url('../img/community/2.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(2) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(3) .grid-content {
      background: url('../img/community/3.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(3) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(4) .grid-content {
      background: url('../img/community/4.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(4) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(5) .grid-content {
      background: url('../img/community/5.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(5) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(6) .grid-content {
      background: url('../img/community/6.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(6) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(7) .grid-content {
      background: url('../img/community/7.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(7) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(8) .grid-content {
      background: url('../img/community/8.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(8) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(9) .grid-content {
      background: url('../img/community/9.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(9) .grid-content:hover {
      @include transform(scale(1.1));
    }

    .container:nth-child(10) .grid-content {
      background: url('../img/community/10.jpeg') no-repeat center center/cover;
      height: 100.5%;
      width: 100.5%;
      @include transition(all 0.5s ease-in-out);
    }

    .container:nth-child(10) .grid-content:hover {
      @include transform(scale(1.1));
    }
  }
}

@media only screen and (max-width: 480px) {
  #community {
    .community-content-flex {
      height: calc(100vw / 2);

      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 2.6rem;
      }
    }

    .community-content-grid .container {
      width: calc(100vw / 2);
      height: calc(100vw / 2);
    }
  }
}
