$black-tint: rgba(0, 0, 0, 0.45);
$white-color: #fff;

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

#fashion {
  text-align: center;
  margin-top: 5rem;
  padding: 2rem;

  .categories {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .category {
      width: 250px;
      height: 250px;
      line-height: 250px;
      margin: 0 5rem;
      background-size: contain;
      background-position: center;
      overflow: hidden;
      position: relative;

      p {
        font-family: 'Inria Serif', serif;
        font-weight: 300;
        color: $white-color;
        font-size: 3.2rem;
        position: absolute;
        width: 100%;
        z-index: 1;
        pointer-events: none;
      }

      .img {
        @include transition(all 0.5s ease-in-out);
      }

      .img:hover {
        @include transform(scale(1.1));
      }

      .category-img1,
      .category-img2,
      .category-img3 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .category-img1 {
      background: linear-gradient($black-tint, $black-tint),
        url('../img/fashion-1.png');
    }

    .category-img2 {
      background: linear-gradient($black-tint, $black-tint),
        url('../img/fashion-2.png');
    }

    .category-img3 {
      background: linear-gradient($black-tint, $black-tint),
        url('../img/fashion-3.png');
    }
  }
}

@media only screen and (max-width: 480px) {
  #fashion {
    margin-top: 3rem;
    
    .categories {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-top: 0;

      .category {
        margin: 2rem auto;
      }
    }
  }
}
