@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

.fixed {
  position: fixed;
  top: 0;
}

.navbar {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
    img {
      width: 80px;
      height: 40px;
      position: absolute;
      top: 0;
      left: -200px;
      margin: 10px 50px;
      transition: (all 0.75s ease-out);
    }

    .show {
      left: 0;
    }

    .nav-link {
      margin: 0 1rem;
      cursor: default;
    }

  .active {
    border-bottom: 3px solid #ffcc99;
  }
}
